{% extends '..\..\catalog\templates\base.html' %}

{% block content %}

{% include '..\..\catalog\templates\main_menu.html' %}

<div class="row mb-2">
    <h1 class="mb-4 text-center fst-italic">Опубликованные статьи</h1>
    {% for art in article %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0 fst-italic">{{ art.title }}</h3>
                <div class="text-body-secondary">
                    {{ art.created_at|date:"d E" }}
                </div>
                <p class="mb-auto">{{ art.content|truncatechars:120 }}</p>
                <a href="http://127.0.0.1:8000/blog/article/{{ art.id }}"
                   class="icon-link gap-1 icon-link-hover stretched-link">
                    <svg class="bi">
                        <use xlink:href="http://127.0.0.1:8000/blog/article/{{ art.id }}"></use>
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                {% if art.preview %}
                <img src="{{ art.preview.url }}" role="img" width="200" height="250" alt="...">
                {% else %}
                <img src="..." role="img" width="200" height="250" alt="...">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}