SECRET_KEY=секретный_ключ_приложения

DEBUG=включение_режима_отлатки_может_иметь_одно_из_двух_значений_True/False

DB_NAME=имя_базы_данных
DB_USER=пользователь_базы_данных
DB_PASSWORD=пароль_пользователя_базы_данных
DB_HOST=адрес_сервера_где_размещенна_база_данных
DB_PORT=порт_для_подключения_к_базе_данных

MAIL_APP_PASSWORD=пароль_для_приложения_из_почтового_сервиса