{% extends 'base.html' %}

{% block content %}

{% include 'main_menu.html' %}

<div class="container mt-5">
    <h1 class="mb-4">Изменение товара {{ product.product_name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if publications_status or is_moderator %}

        <p>{{ model.publications_status }}</p>

        {% else %}

        <p>
            <label>Статус:</label>
            {{ object.publications_status|yesno:"Публикуется,Не публикуется" }}
        </p>

        {% endif %}

        <button type="submit" class="btn btn-primary">Применить</button>
        <a href="{% url 'catalog:product_detail' pk=product.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>

{% endblock %}